In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

# File to load
clvd_to_load = "../Resources/processed_cleveland.csv"
va_to_load = "../Resources/processed_va.csv"
hgrn_to_load = "../Resources/reprocessed_hungarian.csv"

# Read the Data
clvd_df = pd.read_csv(clvd_to_load)
va_df = pd.read_csv(va_to_load)
hgrn_df = pd.read_csv(hgrn_to_load)

In [2]:
clvd_df.head(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0
5,56,1,2,120,236,0,0,178,0,0.8,1,0.0,3.0,0
6,62,0,4,140,268,0,2,160,0,3.6,3,2.0,3.0,3
7,57,0,4,120,354,0,0,163,1,0.6,1,0.0,3.0,0
8,63,1,4,130,254,0,2,147,0,1.4,2,1.0,7.0,2
9,53,1,4,140,203,1,2,155,1,3.1,3,0.0,7.0,1

In [3]:
clvd_df.tail(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
293,63,1,4,140,187,0,2,144,1,4.0,1,2.0,7.0,2
294,63,0,4,124,197,0,0,136,1,0.0,2,0.0,3.0,1
295,41,1,2,120,157,0,0,182,0,0.0,1,0.0,3.0,0
296,59,1,4,164,176,1,2,90,0,1.0,2,2.0,6.0,3
297,57,0,4,140,241,0,0,123,1,0.2,2,0.0,7.0,1
298,45,1,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2.0,7.0,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1.0,7.0,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1
302,38,1,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0

In [4]:
clvd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Age                                                           303 non-null    int64
 1   Sex                                                           303 non-null    int64
 2    Chest Pain (cp)                                              303 non-null    int64
 3   Resting Blood Pressure (trestbps)                             303 non-null    int64
 4   Serum Cholestoral (Chol)                                      303 non-null    int64
 5   Fasting Blood Sugar (fbs)                                     303 non-null    int64
 6   Resting Electrocardiographic Results (restecg)                303 non-null    int64
 7   Maximum Heart Rate Achieved (thalach)                         303 non-null    int64
 8   Exercise Induced Angina (exang)                               303 non-null    int64
 9   ST depression induced by exercise relative to rest (oldpeak)  303 non-null    float64
 10  the slope of the peak exercise ST segment (slope)             303 non-null    int64
 11  number of major vessels (ca)                                  299 non-null    float64
 12  thal                                                          301 non-null    float64
 13  diagnosis of heart disease (num)                              303 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 33.3 KB

In [15]:
clvd_df = clvd_df.rename(columns ={' Chest Pain (cp)':'cp',
                        'Resting Blood Pressure (trestbps)': 'trestbps',
                        'Serum Cholestoral (Chol)': 'chol',
                        'Fasting Blood Sugar (fbs)': 'fbs',
                        'Resting Electrocardiographic Results (restecg)':'restecg',
                        'Maximum Heart Rate Achieved (thalach)': 'thalach',
                        'Exercise Induced Angina (exang)':'exang',
                        'ST depression induced by exercise relative to rest (oldpeak)': 'oldpeak',
                        'the slope of the peak exercise ST segment (slope)': 'slope',
                        'number of major vessels (ca)': 'ca',
                        'diagnosis of heart disease (num)': 'num'})

In [16]:
clvd_df.dropna()

,Age,Sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57,0,4,140,241,0,0,123,1,0.2,2,0.0,7.0,1
298,45,1,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2.0,7.0,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1.0,7.0,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1

In [7]:
va_df.head(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,63,1,4,140.0,260.0,0.0,1,112.0,1.0,3.0,2,NaN,NaN,2
1,44,1,4,130.0,209.0,0.0,1,127.0,0.0,0.0,NaN,NaN,NaN,0
2,60,1,4,132.0,218.0,0.0,1,140.0,1.0,1.5,3,NaN,NaN,2
3,55,1,4,142.0,228.0,0.0,1,149.0,1.0,2.5,1,NaN,NaN,1
4,66,1,3,110.0,213.0,1.0,2,99.0,1.0,1.3,2,NaN,NaN,0
5,66,1,3,120.0,0.0,0.0,1,120.0,0.0,-0.5,1,NaN,NaN,0
6,65,1,4,150.0,236.0,1.0,1,105.0,1.0,0.0,NaN,NaN,NaN,3
7,60,1,3,180.0,0.0,0.0,1,140.0,1.0,1.5,2,NaN,NaN,0
8,60,1,3,120.0,0.0,NaN,0,141.0,1.0,2.0,1,NaN,NaN,3
9,60,1,2,160.0,267.0,1.0,1,157.0,0.0,0.5,2,NaN,NaN,1

In [8]:
va_df.tail(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
190,51,0,4,114.0,258.0,1.0,2,96.0,0.0,1.0,1,NaN,NaN,0
191,62,1,4,160.0,254.0,1.0,1,108.0,1.0,3.0,2,NaN,NaN,4
192,53,1,4,144.0,300.0,1.0,1,128.0,1.0,1.5,2,NaN,NaN,3
193,62,1,4,158.0,170.0,0.0,1,138.0,1.0,0.0,NaN,NaN,NaN,1
194,46,1,4,134.0,310.0,0.0,0,126.0,0.0,0.0,NaN,NaN,3.0,2
195,54,0,4,127.0,333.0,1.0,1,154.0,0.0,0.0,NaN,NaN,NaN,1
196,62,1,1,NaN,139.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,0
197,55,1,4,122.0,223.0,1.0,1,100.0,0.0,0.0,NaN,NaN,6.0,2
198,58,1,4,NaN,385.0,1.0,2,NaN,NaN,NaN,NaN,NaN,NaN,0
199,62,1,2,120.0,254.0,0.0,2,93.0,1.0,0.0,NaN,NaN,NaN,1

In [9]:
va_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Age                                                           200 non-null    int64
 1   Sex                                                           200 non-null    int64
 2    Chest Pain (cp)                                              200 non-null    int64
 3   Resting Blood Pressure (trestbps)                             144 non-null    float64
 4   Serum Cholestoral (Chol)                                      193 non-null    float64
 5   Fasting Blood Sugar (fbs)                                     193 non-null    float64
 6   Resting Electrocardiographic Results (restecg)                200 non-null    int64
 7   Maximum Heart Rate Achieved (thalach)                         147 non-null    float64
 8   Exercise Induced Angina (exang)                               147 non-null    float64
 9   ST depression induced by exercise relative to rest (oldpeak)  144 non-null    float64
 10  the slope of the peak exercise ST segment (slope)             99 non-null     object
 11  number of major vessels (ca)                                  2 non-null      float64
 12  thal                                                          34 non-null     float64
 13  diagnosis of heart disease (num)                              200 non-null    int64
dtypes: float64(8), int64(5), object(1)
memory usage: 22.0+ KB

In [17]:
va_df = va_df.rename(columns ={' Chest Pain (cp)':'cp',
                        'Resting Blood Pressure (trestbps)': 'trestbps',
                        'Serum Cholestoral (Chol)': 'chol',
                        'Fasting Blood Sugar (fbs)': 'fbs',
                        'Resting Electrocardiographic Results (restecg)':'restecg',
                        'Maximum Heart Rate Achieved (thalach)': 'thalach',
                        'Exercise Induced Angina (exang)':'exang',
                        'ST depression induced by exercise relative to rest (oldpeak)': 'oldpeak',
                        'the slope of the peak exercise ST segment (slope)': 'slope',
                        'number of major vessels (ca)': 'ca',
                        'diagnosis of heart disease (num)': 'num'})

In [18]:
va_df.dropna()

,Age,Sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
28,56,1,4,120.0,100.0,0.0,0,120.0,1.0,1.5,2,0.0,7.0,1

In [11]:
hgrn_df.head(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
0,40,1,2,140,289.0,0.0,0,172,0,0.0,NaN,NaN,NaN,0
1,49,0,3,160,180.0,0.0,0,156,0,1.0,2.0,NaN,NaN,1
2,37,1,2,130,283.0,0.0,1,98,0,0.0,NaN,NaN,NaN,0
3,48,0,4,138,214.0,0.0,0,108,1,1.5,2.0,NaN,NaN,3
4,54,1,3,150,-9.0,0.0,0,122,0,0.0,NaN,NaN,NaN,0
5,39,1,3,120,339.0,0.0,0,170,0,0.0,NaN,NaN,NaN,0
6,45,0,2,130,237.0,0.0,0,170,0,0.0,NaN,NaN,NaN,0
7,54,1,2,110,208.0,0.0,0,142,0,0.0,NaN,NaN,NaN,0
8,37,1,4,140,207.0,0.0,0,130,1,1.5,2.0,NaN,NaN,1
9,48,0,2,120,284.0,0.0,0,120,0,0.0,NaN,NaN,NaN,0

In [12]:
hgrn_df.tail(10)

,Age,Sex,Chest Pain (cp),Resting Blood Pressure (trestbps),Serum Cholestoral (Chol),Fasting Blood Sugar (fbs),Resting Electrocardiographic Results (restecg),Maximum Heart Rate Achieved (thalach),Exercise Induced Angina (exang),ST depression induced by exercise relative to rest (oldpeak),the slope of the peak exercise ST segment (slope),number of major vessels (ca),thal,diagnosis of heart disease (num)
284,55,0,2,110,344.0,0.0,1,160,0,0.0,NaN,NaN,NaN,0
285,42,1,4,140,358.0,0.0,0,170,0,0.0,NaN,NaN,NaN,0
286,51,0,3,110,190.0,0.0,0,120,0,0.0,NaN,NaN,NaN,0
287,59,1,4,140,-9.0,0.0,0,140,0,0.0,NaN,NaN,NaN,0
288,53,1,2,120,-9.0,0.0,0,132,0,0.0,NaN,NaN,NaN,0
289,48,0,2,-9,308.0,0.0,1,-9,-9,2.0,1.0,NaN,NaN,0
290,36,1,2,120,166.0,0.0,0,180,0,0.0,NaN,NaN,NaN,0
291,48,1,3,110,211.0,0.0,0,138,0,0.0,NaN,NaN,6.0,0
292,47,0,2,140,257.0,0.0,0,135,0,1.0,1.0,NaN,NaN,0
293,53,1,4,130,182.0,0.0,0,148,0,0.0,NaN,NaN,NaN,0

In [13]:
hgrn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Age                                                           294 non-null    int64
 1   Sex                                                           294 non-null    int64
 2    Chest Pain (cp)                                              294 non-null    int64
 3   Resting Blood Pressure (trestbps)                             294 non-null    int64
 4   Serum Cholestoral (Chol)                                      287 non-null    float64
 5   Fasting Blood Sugar (fbs)                                     291 non-null    float64
 6   Resting Electrocardiographic Results (restecg)                294 non-null    int64
 7   Maximum Heart Rate Achieved (thalach)                         294 non-null    int64
 8   Exercise Induced Angina (exang)                               294 non-null    int64
 9   ST depression induced by exercise relative to rest (oldpeak)  294 non-null    float64
 10  the slope of the peak exercise ST segment (slope)             104 non-null    float64
 11  number of major vessels (ca)                                  0 non-null      float64
 12  thal                                                          28 non-null     float64
 13  diagnosis of heart disease (num)                              294 non-null    int64
dtypes: float64(6), int64(8)
memory usage: 32.3 KB

In [19]:
hgrn_df.rename(columns ={' Chest Pain (cp)':'cp',
                        'Resting Blood Pressure (trestbps)': 'trestbps',
                        'Serum Cholestoral (Chol)': 'chol',
                        'Fasting Blood Sugar (fbs)': 'fbs',
                        'Resting Electrocardiographic Results (restecg)':'restecg',
                        'Maximum Heart Rate Achieved (thalach)': 'thalach',
                        'Exercise Induced Angina (exang)':'exang',
                        'ST depression induced by exercise relative to rest (oldpeak)': 'oldpeak',
                        'the slope of the peak exercise ST segment (slope)': 'slope',
                        'number of major vessels (ca)': 'ca',
                        'diagnosis of heart disease (num)': 'num'})

,Age,Sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,40,1,2,140,289.0,0.0,0,172,0,0.0,NaN,NaN,NaN,0
1,49,0,3,160,180.0,0.0,0,156,0,1.0,2.0,NaN,NaN,1
2,37,1,2,130,283.0,0.0,1,98,0,0.0,NaN,NaN,NaN,0
3,48,0,4,138,214.0,0.0,0,108,1,1.5,2.0,NaN,NaN,3
4,54,1,3,150,-9.0,0.0,0,122,0,0.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,48,0,2,-9,308.0,0.0,1,-9,-9,2.0,1.0,NaN,NaN,0
290,36,1,2,120,166.0,0.0,0,180,0,0.0,NaN,NaN,NaN,0
291,48,1,3,110,211.0,0.0,0,138,0,0.0,NaN,NaN,6.0,0
292,47,0,2,140,257.0,0.0,0,135,0,1.0,1.0,NaN,NaN,0
293,53,1,4,130,182.0,0.0,0,148,0,0.0,NaN,NaN,NaN,0

In [20]:
hgrn_df.dropna()

Empty DataFrame
Columns: [Age, Sex,  Chest Pain (cp), Resting Blood Pressure (trestbps), Serum Cholestoral (Chol), Fasting Blood Sugar (fbs), Resting Electrocardiographic Results (restecg), Maximum Heart Rate Achieved (thalach), Exercise Induced Angina (exang), ST depression induced by exercise relative to rest (oldpeak), the slope of the peak exercise ST segment (slope), number of major vessels (ca), thal, diagnosis of heart disease (num)]
Index: []